.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-100 {
  margin-right: 100px;
}
.mt-0 {
  margin-top: 0;
}
.mt-20 {
  margin-top: 20px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear-flow {
  overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}

.form-input {
  width: 300px !important;
}

.page-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-loading-svg {
  width:30px;
  height:30px;
  z-index:999;
}

.refresh-btn {
  width: 32px;
  .icon {
    width: 24px;
    height: 24px;
  }
}

.pd-btn {
  padding: 0 10px !important;
}

.form-container {
  line-height: 32px;
}
.form-container > div {
  display: inline-block;
}

.stn-service-select {
  width: 400px;
}

.container-body {
  padding: 18px 30px;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/* advance search */
.advance-search-body {
  background: #f8f8f8;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}
.advance-search-body-show {
  height: 100%;
  padding: 20px;
  margin-top: 10px;
}
.icon-advance {
  transition: transform .4s;
}
.icon-rotate {
  transform: rotate(180deg);
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}